<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaze.demo.feature.anim">

    <application>
        <activity android:name="com.zaze.demo.feature.anim.AnimationActivity" />

        <activity
            android:name="com.zaze.demo.feature.anim.ui.AnimationActivity1"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.zaze.demo.feature.anim.ui.TransitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.zaze.demo.feature.anim.ui.SharedElementActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name="com.zaze.demo.feature.anim.VectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp" />
    </application>
</manifest>