<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaze.demo">

    <!-- <permission android:name="com.zaze.demo.receiver.RECEIVER" /> -->

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".component.animation.ui.AnimationActivity" />
        <activity android:name=".component.rxandroid.RxAndroidActivity" />
        <activity android:name=".component.time.TimeActivity" />
        <activity
            android:name=".component.toolbar.ToolBarDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".component.device.ui.DeviceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".component.gps.ui.GpsActivity" />

        <receiver
            android:name=".component.message.receiver.TestBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.xh.message.testappid" />
            </intent-filter>
        </receiver>
        <!-- 测试接收推送 -->
        <service android:name=".component.message.service.MyService" />

        <activity
            android:name=".component.xbus.ui.EventBusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.xbus.ui.EventBus2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name="com.zaze.aarrepo.commons.task.service.TaskService" />

        <activity
            android:name=".component.task.ui.TaskActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- contentProvider -->
        <provider
            android:name=".component.provider.ZazeProvider"
            android:authorities="com.zaze.user.provider" />

        <activity
            android:name=".component.provider.ui.ProviderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- contentProvider -->

        <activity
            android:name=".component.readpackage.ui.ReadPackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.fileexplorer.ui.FileExplorerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.preference.MyPreferenceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.okhttp.ui.OkHttpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.checknet.ui.CheckNetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.progress.ProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.logcat.ui.LogcatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".component.webview.ui.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.zaze.demo.component.cache.ui.CacheActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>