<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".MyPreferenceActivity"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".SettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyApp" />
    </application>
</manifest>